<div class="indexContent">
    <div class="indexContentHeader">
        <div class="indexContentHeaderLeft">
            <h1>
                <%= config.title %>
            </h1>
            <h3>Welcom my blog😶‍🌫️</h3>
            <h5>This is my best blog! <img data-src="https://pic.imgdb.cn/item/6561f47bc458853aef6c0226.webp" alt="表情">
            </h5>
        </div>
        <div class="indexContentHeaderRight">
            <img data-src="https://pic.imgdb.cn/item/6511b165c458853aef7ae7b9.png" alt="头像">
            <div class="indexContentHeaderRightBG"></div>
        </div>
    </div>
    <div class="indexContentArticle">
        <div class="indexContentArticleBox">
            <% page.posts.each(function (post) { %>
                    <section class="posts">
                        <div class="postLeft">
                            <!-- 文章标题 -->
                            <div class="post-title">
                                <a href="<%- url_for(post.path) %>">>><%= post.title %></a>
                            </div>
                            <!-- 文章大概内容 -->
                            <div class="post-content">
                                <a href="<%- url_for(post.path) %>"><%- post.excerpt %></a>
                            </div>
                            <!-- 文章信息 -->
                            <div class="post-info iconfont">
                                <span>
                                    &#xef82;<%- date(post.date, "YYYY-MM-DD" ) %>
                                </span>
                                <span>
                                    &#xee48;<% post.categories.forEach(function(category) { %><a href="<%- url_for('category', { name: category.name }) %>"><%- category.name %></a>, <% }); %>
                                </span>
                                <span>
                                    &#xee95;<% post.tags.forEach(function(tag) { %><a href="<%- url_for('tag', { name: tag.name }) %>"><%- tag.name %></a>, <% }); %>
                                </span>
                            </div>
                        </div>
                        <div class="postRight">
                            <div>
                                <% if (post.cover) { %>
                                    <img data-src="<%= post.cover %>" alt="Article Cover">
                                    <% } %>
                            </div>
                        </div>
                    </section>
                <% }) %>
        </div>
        <div class="paginator">
            <% if (page.total> 1){ %>
                <nav class="page-nav">
                    <%- paginator({ prev_text: "<" , next_text: ">" }) %>
                </nav>
                <% } %>
        </div>
    </div>
</div>