<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>

    <body>
        <!-- 加载页面 -->
        <%- partial('_partial/loading') %>
        <!-- 网页内容 -->
        <%- partial('_partial/header') %>
        <%- body %>
        <%- partial('_partial/footer') %>
        <!-- 鼠标指针 -->
        <%- partial('_partial/mouse') %>

        <!-- 懒加载 -->
        <%- js('js/be_lazy') %>
        <!-- 动态标签 -->
        <%- js('js/title') %>
        <!-- 彩色图标 -->
        <script src="//at.alicdn.com/t/c/font_4335391_whzhtqpl3wa.js"></script>
    </body>

</html>