<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>

    <body>
        <!-- 加载页面 -->
        <%- partial('_partial/loading') %>
        <!-- 网页内容 -->
        <%- partial('_partial/header') %>
        <%- body %>
        <%- partial('_partial/footer') %>

        <!-- 懒加载 -->
        <%- js('js/be_lazy') %>
        <!-- 动态标签 -->
        <%- js('js/title') %>
        <!-- 鼠标点击效果 -->
        <%- js('js/mouse') %>
        <!-- 获取设备信息 -->
        <%- js('js/DeviceJs') %>
        <!-- 彩色图标 -->
        <script src="//at.alicdn.com/t/c/font_4335391_dp5fikjebga.js"></script>
    </body>

</html>