<article>
    <div class="post-Detali-Guider"></div>
    <div class="post-Detali-content">
        <div class="post-Detali-content-title">
            <div class="post-Detali-content-title-img">
                <img data-src="<%- page.cover %>" alt="">
            </div>
            <div class="post-Detali-content-title-content">
                <h1><%- page.title %></h1>
                <p>发布时间: <%- moment(page.date).format("YYYY-MM-DD HH:mm:ss") %></p>
                <span>|</span>
                <p>于 <%- moment(page.updated).format("YYYY-MM-DD HH:mm:ss") %> 最后一次更新</p>
            </div>
        </div>
        <div class="post-Detali-content-content">
            <span><%- page.content %></span>

            <br>
            <br>

            <%- partial('_partial/vcomments') %>
        </div>
    </div>
    <!-- 代码块复制 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.js"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <%- js('js/clipboard_use.js') %>
        <script>
            //给代码块添加代码类型
            function load_language() {
                // 获取所有带有 hljs 类的 code 元素
                var blocks = document.querySelectorAll('figure.highlight');
                // 遍历每个代码块
                blocks.forEach(function (block) {
                    // 创建一个 span 元素
                    var span = document.createElement('span');
                    // 给 span 元素添加类名 codeblock-language
                    span.classList.add('codeblock-language');
                    // 获取代码块的第二个类名（假设它是语言类别）
                    var language = block.classList[1];
                    // 将语言类别添加到 span 的内容中
                    span.innerHTML = '>>> ' + language;
                    // 在代码块的子元素之前插入新创建的 span 元素
                    block.insertBefore(span, block.children[0]);
                });
            }

            // 在文档加载完成后调用 load_language 函数
            document.addEventListener('DOMContentLoaded', load_language);
        </script>
</article>