<header id="header">
    <div class="headerBox">
        <div class="title">
            <img src="<%= url_for('img/logo.webp') %>" alt="logo">
            <a href="<%= url_for() %>">
                <%= config.title %>
            </a>
        </div>
        <!-- èœå• -->
        <div class="menu hidemenu" id="menu">
            <div class="list">
                <ul>
                    <% for (name in theme.menu) { %>
                        <li>
                            <a href="<%- url_for(theme.menu[name]) %>">
                                <%= name %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="isolation"></div>
            <div class="control hideControl" id="control">
                <div class="appearance">
                    <span>ðŸ’¡ Appearance</span>
                    <input type="checkbox" id="themeCheckbox" class="theme-checkbox">
                </div>
                <div class="soundSwitch">
                    <span>ðŸ”ˆ Sound</span>
                    <%- partial('_partial/soundSwitch') %>
                </div>
                <div class="isolation"></div>
                <div class="link">
                    <ul>
                        <% for (item of theme.link) { %>
                            <li>
                                <a href="<%= item.url %>">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-<%= item.icon %>"></use>
                                    </svg>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ç§»åŠ¨ç«¯çš„èœå•å¼€å…³ -->
        <%- partial('menuSwitch') %>
    </div>
    <!-- å¯¼èˆªæ  -->
    <%- js('js/header') %>
    <!-- æ˜Žæš—ä¸»é¢˜ -->
    <%- js('js/theme') %>
</header>
<headerBar id="headerBar"></headerBar>