<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="<%= url_for('img/logo.webp') %>" type="image/x-icon">
    <title>
        <%= config.title %> | <%= config.description %>
    </title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="~Wonderland~">
    <meta property="og:description" content="Sooooooooooooooooootheby!">
    <meta property="og:image" content="<%= url_for('img/logo.webp') %>">
    <meta property="og:url" content="http://blog.sooooooooooooooooootheby.xyz/">

    <%- css('css/layout') %>
    <!-- fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
    <!-- LA统计 -->
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id:"3Hco9U2FUTimjyqJ",ck:"3Hco9U2FUTimjyqJ"})</script>
    <!-- valine 评论系统 -->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N9B10CR3PW"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N9B10CR3PW');
</script>