<div class="content">
    <div class="info">
        <h1 class="index-font">
            <%= config.title %>
        </h1>
        <h2 class="index-font">
            <%= config.author %>
        </h2>
        <img src="https://pic.imgdb.cn/item/6511b165c458853aef7ae7b9.png" class="head-Sculpture">
    
        <div class="social-Platform">
            <ul class="no-list-style">
                <li><a href="https://github.com/Ririsu-Kokoromu">&#xe737;</a></li>
                <li><a href="https://qm.qq.com/q/ZUvBu2gDu0">&#xe631;</a></li>
                <li><a href="https://twitter.com/ririsukokoromu">&#xe619;</a></li>
                <li><a href="https://space.bilibili.com/62298870?spm_id_from=333.1007.0.0">&#xe600;</a></li>
            </ul>
        </div>
    
        <div class="introduce">
            <p>This is my best blog!</p>
        </div>
    </div>
    
    <div class="post-list">
        <% page.posts.each(function (post) { %>
            <article class="post">
                <a href="<%- url_for(post.path) %>">
                    <div class="post-info">
                        <h1><%= post.title %></h1>
                        <span><%- date(post.date, "YYYY-MM-DD" ) %></span>
                    </div>
                    <div class="post-cover">
                        <img src="<%- url_for(post.cover) %>">
                    </div>
                </a>
            </article>
        <% }) %>
        <% if (page.total > 1){ %>
            <nav class="page-nav">
            <%- paginator({
                prev_text: "&laquo; Prev",
                next_text: "Next &raquo;"
            }) %>
            </nav>
        <% } %>
    </div>
</div>