<div class="about">
    <span class="title">ðŸ‘» About</span>
    <p class="content">
        User from <span id="device"></span>.
        <br />
        Welcome Wonderland! This is my Blog.
        <br />
        This website stores my study materials.
    </p>
    <ul>
        <% for (item of theme.link) { %>
        <li>
            <div class="left">
                <span><%= item.name %> - <%= item.website %></span>
                <p><%= item.introduction %></p>
                <a href="<%= item.url %>">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-<%= item.icon %>"></use>
                    </svg>
                    <p><%= item.url %></p>
                </a>
            </div>
            <div class="right">
                <img src="<%= item.img %>" alt="å¤´åƒ" />
            </div>
        </li>
        <% } %>
    </ul>
</div>
