<!DOCTYPE html>
<html lang="zh_Hans">
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/load') %>
    <div class="container">
    <%- partial('_partial/rightmousebutton') %>
    <%- partial('_partial/header') %>
    <%- body %>
    </div>
    
    <!-- 图标引入 -->
    <%- js('icon/iconfont.js') %>
    <!-- 设备信息引入 -->
    <%- js('js/device.js') %>
    <!-- 首页随机emoji引入 -->
    <%- js('js/randomEmoji.js') %>
    <!-- 代码块复制 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.js"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <%- js('js/clipboard_use.js') %>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
        Fancybox.bind("[data-fancybox]", {
            // Your custom options
        });
    </script>
</body>
</html>