<!DOCTYPE html>
<html lang="zh_Hans">
<%- partial('_partial/head') %>
<body>
    <div class="container">
    <%- partial('_partial/header') %>
    <%- body %>
    </div>
    
    <!-- 图标引入 -->
    <%- js('icon/iconfont.js') %>
    <!-- 杂项js引入 -->
    <%- js('js/device.js') %>
    <!-- 代码块复制 -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.js"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <%- js('js/clipboard_use.js') %>
</body>
</html>